.title_icon {
    border-radius: 10%;
}

.hero_container {
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* align children (flex items) vertically */
    flex-wrap: wrap;
    height: 510px;
}
.hero_container>div {
    flex: 1 0 50px;
    /* occupy free space, don't shrink, initial height */
    width: calc(50% - 10px);
    /* half container size less margins */
    margin: 5px;
    border: 0 solid rgb(17, 13, 13);
}
#home-section{
    background-color: #d2d2d2;
}
.social_media{
    size: 20rem;
}

.mern_svg {
    align-items: center;

}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.social-links a:hover {
  background: #0d77a5;
  color: #fff;
  text-decoration: none;
}
.main-social-links{
  padding-top: .5rem;
  padding-bottom: .5rem;  
} 
.social-links {
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #ffffff;
  border-radius: 5rem;
  margin-right: 15rem;
  margin-left: 7rem;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgb(16, 16, 39);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}
.skills, .resume{
  padding: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.contact{
  padding: 5rem;
  background-color: #d9dde4;
}
.contact-title{
  padding-left:5rem;
  padding-bottom: .5rem;
}
.info{
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 2rem;
}

.icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #149ddd;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #149ddd;
}

.icon i {
    color: #fff;
    font-size: 24px;
    line-height: 0;
}

::after,
::before {
    box-sizing: border-box;
}

.icon-box {
    margin-bottom: 20px;
}

.icon-box:hover .icon i {
    color: #149ddd;
}

.icon-box:hover .icon {
    background: #fff;
}

.title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
}

.netflix {
    height: 2rem;
    width: 1.2rem;
    border-left: 6px solid #ffffff;
    border-right: 6px solid #ffffff;
    box-shadow: 0 0 50px black;
}
.netflix::before{
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transform: skewX(21.5deg);
    box-shadow: 0 0 10px black;
}
/* # Skills */
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #149ddd;
}
.section-bg {
    background: #f5f8fd;
  }

  .section-title {
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 5000px;
    height: 3px;
    background: #367466;
    bottom: 0;
    left: 0;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  